<nav class="navbar navbar-default">
    <div class="navbar-header">
        {{#link-to 'index' class="navbar-brand"}} Message Board {{/link-to}}
    </div>

<!--
    <ul class="nav navbar-nav">
        <li>
            {{#if loggedIn }}
                {{#link-to 'new-message' class="navbar-brand"}} New message {{/link-to}}
            {{/if}}
        </li>
    </ul>
-->
    <ul class="nav navbar-nav navbar-right">
      <li>
        {{#if loggedIn }}
          <button {{ action "logout" }} class="btn btn-danger log">Log out</button>
        {{else}}
          <button onclick={{ action "login" }} class="btn btn-info log">Log In</button>
        {{/if}}
      </li>
    </ul>
</nav>