<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        {{#link-to 'index' class="navbar-brand"}} Message Board {{/link-to}}
    </div>

<!--
    <ul class="nav navbar-nav">
        <li>
            {{#if loggedIn }}
                {{#link-to 'new-message' class="navbar-brand"}} New message {{/link-to}}
            {{/if}}
        </li>
    </ul>
-->

    <ul class="nav navbar-nav navbar-right">
      {{#if loggedIn }}
        <li><p class="navbar-text">{{ userName }}</p></li>
        <li><a onclick={{ action "logout" }} href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      {{else}}
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a onclick={{ action "login" }} href="#"><span class="glyphicon glyphicon-log-in"></span> Login with GitHub</a></li>
      {{/if}}
    </ul>
  </div>
</nav>